:root {
  --primary-white: #fffffd;
  --primary-black: #000000;
  --primary-blue: #21409c;
  --secondary-blue: #98c7f8;
  --primary-red: #ff0000;
  --primary-yellow: #f8ca11;

  --cool-grey-900: #3d3d3d;
  --cool-grey: #989898;
  --cool-grey-50: #f8f8f8;
}
